h1 {
	text-align: center;
	font-size: 22;
}

h3 {
	text-align: center;
	font-size: 18;
}

p {
	text-align: center;
	font-size: 14;
}

img {
	text-align: center;
}
.wrong {
	color:red;
}

.right {
	color:green;
}